/* body{
    margin: 0 auto;
}
#right-nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 25px;
    margin-top: 10px;
}
a{
    color: rgb(17, 16, 16);
    font-size: 14px;
    display: inline-block;
    line-height: 24px;
    margin-right: 20px;
}
a:hover{
    color: darkgrey;
}
img{
    padding: 5px;
    margin: auto 7px;
}
img:hover{
    opacity: 0.8;
}
button{
    background-color: rgb(46, 46, 158);
    border: 1px solid transparent;
    color: white;
    width: 90px;
    height: 25px;
    border-radius: 10px;
}
button:hover{
    background-color: rgb(79, 79, 153);
    border: 2px solid rgb(63, 63, 189);
}
#google_logo{
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: block;
}
#container{
    margin-top: 90px;
} */
body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
header{
    width: 100%;
}
ul{
    list-style: none;
}
#nav_bar{
    float: right;
}
#nav_bar li{
    display: inline-block;
    padding: 7px;
}
#nav_bar #sign{
    background: #4877ef;
    margin-right: 25px;
    padding: 6px 14px;
    border-radius: 5px;
    
}
.nav_links{
    color: #404040;
}
a{
    text-decoration: none;
    color: inherit;
}
.nav_links a:hover{
    text-decoration: underline;
}
#sign:hover{
    box-shadow: 1px 1px 5px #999;
}
#sign{
    color: white;
}
#google_logo{
    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
    padding-top: 112px;
    padding-bottom: 20px;
}
button{
    text-align: center;
    padding-top: 10px;
    margin-bottom: 160px;
}
footer{
    background-color: #ccc3c3;
    border-top: solid 1px #b3aaaa  ;
    bottom: 0;
    padding-bottom: 0;
    width: 100%;
}
footer ul{
    float: left;
    padding: 1px;
}
footer ul li {
    display: inline;
    color: #4e4c4c;
    font-size: 16px;
    padding: 13px;
}

footer ul a:hover{
    text-decoration: underline;
}
.right-foot{
    float: right;
}
li.nav_links a{
    display: none;
}
